@media only screen and (max-width: 1360px) {
    h3.naamTitel { font-size: 1.60rem; }

}

/* breakpoint 
desktop wide --> desktop */
@media only screen and (max-width: 1280px) {
    
    li { font-size: 1.25rem; }

    #logoNavigatie { height: 2.75rem; }

    h3.artikelTitel,
    h3.artikelTitelDark {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    #artikelContainer {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        /* 1280px t/m 835px */
        grid-template-areas: 
        "artikel01 artikel01 artikel01 artikel01 artikel03 artikel03"
        "artikel05 artikel05 artikel04 artikel04 artikel03 artikel03"
        "artikel06 artikel06 artikel02 artikel02 artikel02 artikel02"
        ;
    }
    

    .shortcut01,
    .shortcut02,
    .shortcut03 { width: 4.5rem; height: 4.5rem; }

    .item01,
    .item02 {
        width: 38.5vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* ADVIES pagina */

    #artikelContainerAdvies {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

        /* 1280px t/m 1024px */
        grid-template-areas: 
        "artikel01 artikel01 artikel02"
        "artikel14 artikel05 artikel05"
        "artikel14 artikel06 artikel06"
        "artikel14 artikel08 artikel08"
        "artikel03 artikel03 artikel03"
        "artikel07 artikel11 artikel09"
        "artikel13 artikel10 artikel12"
        ;
    }

/* OVER ONS pagina */

    #informatieContainer {
        grid-template-columns: 80vw;
        grid-template-rows: auto;
    
        /* <1280 */
        grid-template-areas: 
        "banner01"
        "banner02"
        "banner03"
        "banner04"
        ;
    }
}

/* breakpoint
desktop --> tablet (liggend) */
@media only screen and (max-width: 1024px) {
    
    #logoNavigatie { height: 2.5rem; }

    #introductieTekst {
        align-self: flex-end;
        color: #fff;
    
        padding: 3rem;
        background-color: #2b2e2ac3;
    }
    

    section.shortcuts h4 { font-size: 1.25rem; }

    #shortcutButton { font-size: 1rem; }

/* ADVIES pagina */

    #artikelContainerAdvies {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        
        /* 1024px t/m 835px */
        grid-template-areas: 
        "artikel01 artikel01"
        "artikel14 artikel03"
        "artikel08 artikel08"
        "artikel06 artikel06"
        "artikel05 artikel02"
        "artikel07 artikel11"
        "artikel09 artikel12"
        "artikel10 artikel13"
        ;
    }

/* MENSEN pagina */

    #profielFeature,
    #profielFeature2 {
    height: 25vh;
    width: 80vw;
    }

    #featureImg { margin-left: -7.5rem; }
    
    #featureImg2 { margin-right: -7.5rem; }

    .persoonInfo2 p.extraCopy,
    .persoonInfo3 p.extraCopy { visibility: hidden; }
}

/* breakpoint 
tablet (staand) --> tablet (liggend) */
@media only screen and (max-width: 835px) {
    nav {
        height: 7rem;
    
        display: grid;
    
        /* <835px */
        grid-template-areas:
        "logo logo logo logo menu ."
        ;

        background: linear-gradient(90deg, #2b2e2a, #555b53);;
    }

    #home,
    #advies,
    #mensen,
    #overOns { display: none; }

    svg#menu { display: block; visibility: visible; }

    #zoekFunctie {
        width: 80vw;
        position: relative;
        top: -9.5rem;
    }

    #dropdown01 fieldset select,
    #dropdown02 fieldset select,
    #dropdown03 fieldset select {
        cursor: pointer;
        width: 8.5rem;
        height: 2rem; 
    }

    #artikelContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        
        /* 835px t/m 768px */
        grid-template-areas: 
        "artikel01 artikel01"
        "artikel05 artikel05"
        "artikel02 artikel02"
        "artikel03 artikel03"
        "artikel04 artikel06"
        ;
    }

    h3.artikelTitel,
    h3.artikelTitelDark {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    h3.naamTitel { font-size: 1.4rem; }
    h4.functieTitel { font-size: 1rem; }

    #introductieBanner { height: auto; }

    #specialismeBG2 { width: 100%; }

    #specialismenTekst2 { width: 100% }

    #specialismenButtons2 {
        position: absolute;
        visibility: hidden;
    }

    .meerButton2 { display: block; }

/* ADVIES pagina */

    #artikelContainerAdvies {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        
        /* 835px t/m 768px */
        grid-template-areas: 
        "artikel01 artikel01"
        "artikel02 artikel02"
        "artikel03 artikel14"
        "artikel03 artikel14"
        "artikel05 artikel05"
        "artikel06 artikel06"
        "artikel07 artikel07"
        "artikel08 artikel08"
        "artikel10 artikel10"
        "artikel09 artikel11"
        "artikel12 artikel12"
        "artikel13 artikel13"
        ;
    }
}
 
/* breakpoint
tablet (staand) --> mobile */
@media only screen and (max-width: 768px) {

    #logoNavigatie { height: 2.5rem; }

    #artikelContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        
        /* <768px */
        grid-template-areas: 
        "artikel01"
        "artikel01"
        "artikel01"
        "artikel02"
        "artikel03"
        "artikel03"
        "artikel03"
        "artikel04"
        "artikel05"
        "artikel06"
        ;
    }

    section article p.artikelBody {
        font-size: 1rem;
    }

    section.persoonInfo p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #introductieBanner {
        width: 100vw;
    }

    #introductieTekst p {
        font-size: 1rem;
        line-height: 1.65rem;
    }

    #specialismenBanner2,
    #specialismenBanner02 {
        width: 100vw;
    }

    #specialismenTekst2 p {
        font-size: 1rem;
        line-height: 1.65rem;
        
    }

    #footerInside { height: 30rem; }

    #footerContainer {
        flex-wrap: wrap;
        width: 70vw;
    }

    h5 {
        padding-top: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
    }

    #footerContact,
    #footerSocials,
    #footerAdres { margin: 1rem; }

    #footerContact p,
    #footerSocials section,
    #footerAdres p { padding-top: 0.5rem; }

    .item01,
    .item02 {
        width: 80vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3.naamTitel { font-size: 1.65rem; }
    h4.functieTitel { font-size: 1.15rem; }

    .buffer01 svg,
    .buffer02 svg{ visibility: hidden; }

/* ADVIES pagina */

    #artikelContainerAdvies {
        grid-template-columns: auto;
        grid-template-rows: auto;
        
        grid-template-areas:
        "artikel01"
        "artikel02"
        "artikel03"
        "artikel14"
        "artikel05"
        "artikel06"
        "artikel07"
        "artikel08"
        "artikel09"
        "artikel10"
        "artikel11"
        "artikel12"
        "artikel13"
        ;
    }

/* MENSEN pagina */

    #profielFeature,
    #profielFeature2 { height: 15vh; width: 80vw; }

    .persoonInfo2,
    .persoonInfo3 { padding: 1rem; }

    #featureImg { margin-left: -5rem; }
    #featureImg2 { margin-right: -5rem; }

    .persoonInfo2 p,
    .persoonInfo2 p.extraCopy,
    .persoonInfo3 p,
    .persoonInfo3 p.extraCopy { visibility: hidden; }

    .persoonInfo2 h3.naamTitel,
    .persoonInfo3 h3.naamTitel { font-size: 1.25rem; }
    .persoonInfo2 h4.functieTitel,
    .persoonInfo3 h4.functieTitel { font-size: 1rem; }

/* OVER ONS pagina */

    section.infoTekst p {
        font-size: 1rem;
        line-height: 1.65rem;
    }


}

/* breakpoint
mobile --> small screen */
@media only screen and (max-width: 640px) {
    #homeHeaderLinks,
    #homeHeaderRechts,
    #adviesHeaderLinks,
    #adviesHeaderRechts,
    #mensenHeaderLinks,
    #mensenHeaderRechts,
    #overonsHeaderLinks,
    #overonsHeaderRechts { display: none; }

    #zoekFunctie { width: 80vw; }

    h2 {
        color: #fff;
    
        font-family: 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 600;
    
        margin-left: 3rem;
    
        filter: drop-shadow(0.5rem 0.25rem 0.5rem #000);
    }

    #zoekBalk { margin-left: 2rem; width: 60%; }

    #zoekContainer {
        display: flex;
        padding: 2rem 0.5rem;
    }

    #dropdown01 fieldset select,
    #dropdown02 fieldset select,
    #dropdown03 fieldset select {
        cursor: pointer;

        width: 8.5rem;
        height: 2rem; 
    }

    #checklist fieldset {
        display: inline-block;

        margin-top: 0rem;
        margin-left: 0rem;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    #checklist fieldset section.checklistRow { display: inline-block; }

    #zoekButton { width: 12.5rem; height: 2.5rem; }

    h3.artikelTitel,
    h3.artikelTitelDark {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

/* ADVIES pagina */

    #specialismenBanner02 { background-position: 80% 50%; }
}

@media only screen and (max-width: 460px) {

    #logoNavigatie { height: 2.25rem; }

    #zoekFunctie { width: 100vw; }

    .shortcut01,
    .shortcut02,
    .shortcut03 { width: 3.5rem; height: 3.5rem; }

    section.shortcuts h4 { font-size: 1rem; }
}

@media only screen and (max-width: 355px) {
    h2 {
        font-size: 1.75rem;
    
        margin-left: 3rem;
    
        filter: drop-shadow(0.5rem 0.25rem 0.5rem #000);
    }

    #logoNavigatie { height: 1.75rem; }

    #dropdown01 fieldset select,
    #dropdown02 fieldset select,
    #dropdown03 fieldset select {
    width: 7.5rem;
    height: 1.75rem;
    }

    select {
        font-size: 0.65rem;
        padding-left: 0.5rem;
    }

    #checklist fieldset label{
        font-size: 0.75rem;
    
        margin-right: 0.5rem;
    }
}